@page "/"
@using KOMiT.Core.Model;


<h1>Hello, KOMiT!</h1>

<Grid DataProvider="ProjectDataProvider" TItem="Project" AllowPaging="true" PageSize="15" AllowSorting="true">
    <GridColumn TItem="Project" HeaderText="Id">
        @context.Id
    </GridColumn>
     <GridColumn TItem="Project" HeaderText="Projekt">
        @context.Name
    </GridColumn>
     <GridColumn TItem="Project" HeaderText="Beskrivelse">
        @context.Description
    </GridColumn>
     <GridColumn TItem="Project" HeaderText="Projekttype">
        @context.ProjectType.ToString()
    </GridColumn>
     <GridColumn TItem="Project" HeaderText="Prioritet">
        @context.Priority.ToString()
    </GridColumn>
     <GridColumn TItem="Project" HeaderText="Status">
        @context.Status.ToString()
    </GridColumn>
</Grid>




